---
import Layout from '../../layouts/Layout.astro';
import AccountSettings from '../../components/settings/AccountSettings';
import TwoFactorSettings from '../../components/settings/TwoFactorSettings';
import QuickConnectAuthorize from '../../components/settings/QuickConnectAuthorize';
import LocalUsersLink from '../../components/settings/LocalUsersLink';
import TranslatedPageHeader from '../../components/ui/TranslatedPageHeader';
import PermissionGuard from '../../components/ui/PermissionGuard';
---

<Layout title="Mon Compte - Popcorn Client">
  <div class="min-h-screen bg-gradient-to-br from-gray-900 via-black to-gray-900">
    <div class="container mx-auto px-4 sm:px-6 md:px-8 lg:px-12 py-8 sm:py-10 md:py-12">
      <TranslatedPageHeader
        client:only="preact"
        titleKey="settingsPages.account.title"
        subtitleKey="settingsPages.account.subtitle"
        backHref="/settings"
      />

      <PermissionGuard client:only="preact" permission="settings.account">
        <div class="space-y-8 sm:space-y-10 md:space-y-12">
          <AccountSettings client:only="preact" />
          <TwoFactorSettings client:only="preact" />
          <QuickConnectAuthorize client:only="preact" />
          <LocalUsersLink client:only="preact" />
        </div>
      </PermissionGuard>
    </div>
  </div>
</Layout>
