---
import SettingsLayout from '../../layouts/SettingsLayout.astro';
import FriendsManager from '../../components/settings/FriendsManager';
import PermissionGuard from '../../components/ui/PermissionGuard';
import DsPageHeader from '../../components/ui/DsPageHeader';
---

<SettingsLayout title="Friends - Popcorn">
  <div class="ds-container max-w-5xl py-4 sm:py-6 px-3 sm:px-6">
    <DsPageHeader
      client:only="preact"
      titleKey="settingsPages.friends.title"
      subtitleKey="settingsPages.friends.subtitle"
    />
    <PermissionGuard client:only="preact" permission="settings.friends">
      <FriendsManager client:only="preact" />
    </PermissionGuard>
  </div>
</SettingsLayout>
