---
import Layout from '../../layouts/Layout.astro';
import LocalUsersManager from '../../components/settings/LocalUsersManager';
import PermissionGuard from '../../components/ui/PermissionGuard';
---

<Layout title="Utilisateurs locaux - Popcorn">
  <div class="min-h-screen bg-[#121212] p-4 sm:p-6 md:p-8">
    <div class="max-w-6xl mx-auto">
      <PermissionGuard client:only="preact" permission="settings.local_users">
        <LocalUsersManager client:only="preact" />
      </PermissionGuard>
    </div>
  </div>
</Layout>
