---
import SettingsLayout from '../../layouts/SettingsLayout.astro';
import PermissionGuard from '../../components/ui/PermissionGuard';
import DsPageHeader from '../../components/ui/DsPageHeader';
import NotificationSettings from '../../components/settings/NotificationSettings';
---

<SettingsLayout title="Notifications - Popcorn Client">
  <div class="ds-container max-w-5xl py-6 px-4 sm:px-6">
    <DsPageHeader
      client:only="preact"
      titleKey="settingsPages.notifications.title"
      subtitleKey="settingsPages.notifications.subtitle"
    />
    <PermissionGuard client:only="preact" permission="settings.server">
      <NotificationSettings client:only="preact" />
    </PermissionGuard>
  </div>
</SettingsLayout>
