---
import Layout from '../layouts/Layout.astro';
import DashboardPage from '../components/dashboard/Dashboard';
---

<Layout title="Tableau de bord - Popcorn Client">
  <div>
    <DashboardPage client:only="preact" />
  </div>
</Layout>
