---
import Layout from '../layouts/Layout.astro';
import FilmsDashboard from '../components/dashboard/FilmsDashboard';
---

<Layout title="Films - Popcorn Client">
  <div>
    <FilmsDashboard client:only="preact" />
  </div>
</Layout>
