---
import Layout from '../layouts/Layout.astro';
import SeriesDashboard from '../components/dashboard/SeriesDashboard';
---

<Layout title="Séries - Popcorn Client">
  <div>
    <SeriesDashboard client:only="preact" />
  </div>
</Layout>
